@model IEnumerable<Option>

@if (Model.Count() > 0)
{
    <div class="row">
        <div class="col-xs-12 block-header block-header-@(Model.ElementAt(0).OptionType.GetAttribute<ContextClassAttribute>().ContextClass) block-header-white">
            <h2 style="margin: 20px 0;">
                <span class="title">@(Model.ElementAt(0).OptionType.GetAttribute<EnumPluralDisplayAttribute>().Display)</span><span class="decoration"></span><span class="decoration"></span><span class="decoration"></span>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-striped table-condensed table-bordered" style="font-size: 12px;">
                <thead>
                    <tr>
                        @Html.Partial("_TableHeaderColumn", new TableHeaderColumnModel { Header = Html.DisplayNameFor(model => model.Strike), SortProperty = "Strike" })
                        @Html.Partial("_TableHeaderColumn", new TableHeaderColumnModel { Header = Html.DisplayNameFor(model => model.Quantity), SortProperty = "Quantity" })
                        @Html.Partial("_TableHeaderColumn", new TableHeaderColumnModel { Header = Html.DisplayNameFor(model => model.Delta), SortProperty = "Delta" })
                        @Html.Partial("_TableHeaderColumn", new TableHeaderColumnModel { Header = Html.DisplayNameFor(model => model.ExpiryDays), SortProperty = "ExpiryDays" })
                        @Html.Partial("_TableHeaderColumn", new TableHeaderColumnModel { Header = Html.DisplayNameFor(model => model.Bid), SortProperty = "Bid" })
                        @Html.Partial("_TableHeaderColumn", new TableHeaderColumnModel { Header = Html.DisplayNameFor(model => model.Ask), SortProperty = "Ask" })
                        @Html.Partial("_TableHeaderColumn", new TableHeaderColumnModel { Header = Html.DisplayNameFor(model => model.Spread), SortProperty = "Spread" })
                        @Html.Partial("_TableHeaderColumn", new TableHeaderColumnModel { Header = Html.DisplayNameFor(model => model.DeltaPL), SortProperty = "DeltaPL" })
                        @Html.Partial("_TableHeaderColumn", new TableHeaderColumnModel { Header = Html.DisplayNameFor(model => model.DeltaPLPercent), SortProperty = "DeltaPLPercent" })
                        @Html.Partial("_TableHeaderColumn", new TableHeaderColumnModel { Header = Html.DisplayNameFor(model => model.BlackScholesPL), SortProperty = "BlackScholesPL" })
                        @Html.Partial("_TableHeaderColumn", new TableHeaderColumnModel { Header = Html.DisplayNameFor(model => model.BlackScholesPLPercent), SortProperty = "BlackScholesPLPercent" })
                    </tr>
                </thead>
                <tbody>
                    @foreach (Option option in Model)
                    {
                        <tr>
                            <td>
                                @option.Strike.ToString("C")
                            </td>
                            <td>
                                @option.Quantity
                            </td>
                            <td>
                                @option.Delta.ToString("N2")
                            </td>
                            <td>
                                @option.ExpiryDays
                            </td>
                            <td>
                                @option.Bid.ToString("C")
                            </td>
                            <td>
                                @option.Ask.ToString("C")
                            </td>
                            <td>
                                @option.Spread.ToString("C")
                            </td>
                            <td>
                                @option.DeltaPL.ToString("C")
                            </td>
                            <td>
                                @option.DeltaPLPercent.ToString("P2")
                            </td>
                            <td>
                                @option.BlackScholesPL.ToString("C")
                            </td>
                            <td>
                                @option.BlackScholesPLPercent.ToString("P2")
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
